nav, article, aside, footer section {
    margin: 0 auto;
    width: 900px;
  }
  
nav {
    margin-top: 25px;
  }
  aside {
    padding-top: 30px;
    padding-bottom: 60px
  }
  #slogan {
    width: 250px;
    padding-left: 55px;
    color: #a3a4a2;
    font-family: 'Abel', sans-serif;
    font-size: .65em;
    text-transform: uppercase;
  }  